.main-div {
  display: flex;
  justify-content: center;
  background-color: #000000;
}


@font-face {
  font-family: myFont;
  src: url('../Fonts/pinkSub.otf');
}

@font-face {
  font-family: regularFont;
  src: url('../Fonts/pink.otf');
}

@font-face {
  font-family: titleFont;
  src: url('../Fonts/pinkbold.otf');
}