.card-form {
  background-color: #f6f0bb;
  display: flex;
  width: 100%;
  border-radius: 30px;
  border: solid black 1px;
  justify-content: space-around;
}

.small-form-div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 50%;
  height: 100%;
}

.save-description-div {
  background-color: #f6f0bb;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 150px;
  width: 50%;
  height: 100%;
}

.save-btn {
  border: none;
  width: 40%;
  margin-left: 30%;
  height: 50px;
  border-radius: 15px;
}

.only-description-div {
  display: flex;
  flex-direction: column;
}

.cardname-div {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.description-input {
  width: 90%;
  height: 175px;
  font-family: regularFont;
  font-size: 18px;
  margin-left: 5%;
  background-color: transparent;
  resize: none;
  border-radius: 5px;
  border: solid 2px #8c8c8c;
  transition: outline 200ms ease-in-out, border 200ms ease-in-out;
}

.description-input:hover {
  outline: none;
  border: solid 2px black;
}

.description-input:focus {
  outline: none;
  border: solid 2px #0059b3;
}

.description-label {
  color: #666666;
  font-size: 25px;
  margin-bottom: 8px;
  margin-left: 5%;
}

.trunfo-div {
  margin-left: 5%;
}

.name-input {
  width: 70%;
  margin-left: 15%;
  font-size: 20px;
}

.cardname-label {
  margin-bottom: 8px;
  font-size: 25px;
  margin-left: 15%;
}


.attr-div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100px;
}

.one-attr-div {
  display: flex;
  width: 25%;
  flex-direction: column;
  align-items: center;
}

.attr1-input {
  width: 30%;
  border: none;
  font-size: 20px;
}

.attr2-input {
  width: 30%;
  border: none;
  font-size: 20px;
}

.attr3-input {
  width: 30%;
  border: none;
  font-size: 20px;
}

.attr1-label {
  font-size: 20px;
}

.attr2-label {
  font-size: 20px;
}

.attr3-label {
  font-size: 20px;
}

.input-card {
  margin-top: 40px;
  border: #f6f0bb solid 3px;
  width: 1400px;
  height: 600px;
  background-color: #17171c;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 30px;
}

.input-title {
  font-family: titleFont;
  font-size: 30px;
  color: white;
}

.input-title-div {
  height: 50px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-div {
  height: 550px;
  width: 65%;
  border: solid #f6f0bb 2px;
  background-color:#2b2b2b;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.only-form {
  display: flex;
  justify-content: center;
  height: 60%;
  width: 85%;
}

.text-div {
  height: auto;
  padding: 15px;
  border: solid #f6f0bb 1px;
  text-align: center;
  display: flex;
  align-items: center;
  width: 65%;
  border-radius: 10px;
}

.input-text {
  font-family: myFont;
  font-size: 16px;
  color: white;
}

.preview-card {
  height: 550px;
  display: flex;
  background-color: #2b2b2b;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 30%;
  border: solid #f6f0bb 2px;
  border-radius: 20px;
}

.trunfo-label {
  font-family: myFont;
  font-size: 13px;
  color: #333333;
}

.card-preview-title {
  font-family: titleFont;
  color: white;
  font-size: 30px;
}

@media(max-width: 1400px) {
  .input-card {
    width: 98%;
  }
}

@media(max-width: 1200px) {
  .form-div {
    width: 50%;
  }

  .preview-card {
    width: 45%;
  }
}

@media (max-width: 950px) {
  .text-div {
    width: 85%;
  }

  .input-text {
    font-size: 14px;
  }

  .only-form {
    width: 92%;
  }

  .card-form {
    border-radius: 20px;
  }

  .small-form-div {
    width: 60%;
  }

  .save-description-div {
    width: 40%;
  }
}

@media (max-width: 800px) {
  .input-card {
    flex-direction: column;
    height: auto;
    width: 90%;
    padding: 4%;
  }
  .preview-card {
    margin-top: 10px;
    width: 90%;
  }

  .form-div {
    width: 90%;
  }
}

@media (max-width: 550px) {
  .card-form {
    flex-direction: column;
  }
  .small-form-div {
    width: 100%;
  }

  .save-description-div {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .only-form {
    margin-top: 15px;
    height: auto;
  }

  .form-div {
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (max-width: 440px) {
  .preview-card {
    width: 100%;
  }
  .input-card {
    width: 98%;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}